[submodule "modules/helperFunctions"]
	path = submodules/helperFunctions
	url = https://github.com/June-Skeeter/helperFunctions.git
[submodule "modules/fluxCalculator"]
	path = submodules/fluxCalculator
	url = https://github.com/June-Skeeter/fluxCalculator
