[submodule "src/helperFunctions"]
	path = src/helperFunctions
	url = https://github.com/June-Skeeter/helperFunctions.git
[submodule "src/highFrequency/fluxCalculator"]
	path = src/highFrequency/fluxCalculator
	url = https://github.com/June-Skeeter/fluxCalculator
