[submodule "modules/helperFunctions"]
	path = modules/helperFunctions
	url = https://github.com/June-Skeeter/helperFunctions.git
[submodule "modules/fluxCalculator"]
	path = modules/fluxCalculator
	url = https://github.com/June-Skeeter/fluxCalculator
